//color
//primary
$roseQuartz: #fee7e6;
$mint: #ecfdf1;
$yellow: #f9eac2; $yellower: #FADC2C;
$orange: #ffd898;
$red: #E80000;
//background anh other
$w: white;
$bl: black; $gray: #e9eaec;
$darkblue: #333652; $bluegray: #90adc6; $tiffanyblue: #57DBD8; $blue: #0000FF;
$violet: #B637FB; $purple:#B175FF;
//font
$NotoSan: 'Noto Sans', sans-serif;
$NotoSerif: 'Noto Serif', serif;
$Pacifico: 'Pacifico', cursive;